*.class
*.project
*.classpath

# Package Files #
*.jar
*.war
*.ear
/bin

.metadata/.lock

.metadata/.log

*.version

*.tree

*.resources

*.prefs

.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps

*.txt

.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache

*.xmi

.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache

*.dat

*.xml

*.history

*.index

*.ini
